/* Estilos generales para el modal */
.modal-overlay {
  position: fixed; /* Fijamos el modal al viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Aseguramos que el modal esté por encima de otros elementos */
}

/* Estilos para el contenido del modal */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%; /* Ajusta el tamaño del modal según sea necesario */
  max-width: 600px; /* Limita el tamaño máximo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Esto es importante para el posicionamiento */
}

/* Título dentro del modal */
.modal-content h2 {
  font-size: 1.5em;
  color: #74b816;
  text-align: center;
}

/* Estilos para los botones */
button {
  padding: 10px 20px;
  background-color: #81bb49;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a9b3c;
}
