input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Opcional: Estilo adicional para asegurar que el campo no tenga bordes extraños */
input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.number-field {
  width: 200px;
}

.number-field label {
  color: #666666;
  font-size: 0.78rem;
}

.number-field input[type="number"] {
  border: 2px solid #38519e;
  border-radius: 0.4rem;
  height: 47px;
  width: 100%;
  padding: 10px;
}

.number-field input[type="number"]:focus {
  outline: none;
}
